.bookingContainer {
	background-color: rgba(0, 100, 50, 0.2);
}
#booking h3 {
	font-size: 1.5em;
	margin: 0;
}
#booking .bookingForm {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 2em;
	max-width: 533px;
	display: flex;
	flex-direction: column;
}

#booking .bookingInputs {
	padding: 1em;
	margin: 1em;
}
#booking .bookingLabels {
	margin: 0 1em;
}
#booking button {
	font-size: 1em;
	padding: 1em;
	margin: 1em;
	background-color: rgb(0, 100, 50);
	color: rgb(255, 255, 255);
	border: none;
}
