.bookingData {
	border: 1px solid rgb(0, 100, 50);
	max-width: 500px;
	margin: 1em auto;
}

.bookingData li {
	padding: 0.5em;
}

.bookingData li:nth-child(odd) {
	background-color: rgba(0, 100, 50, 0.2);
}
.bookingFilter {
	max-width: 500px;
	margin: 0 auto;
	padding: 0.5em;
	box-sizing: border-box;
	border: 1px solid rgb(0, 100, 50);
	background-color: rgba(0, 100, 50, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bookingFilter label {
	width: 20%;
}
.bookingFilter input {
	width: 50%;
}
.bookingFilter button {
	width: 20%;
	font-size: 1em;

	background-color: rgb(0, 100, 50);
	color: white;
}
