/* ABOUT */
#about {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lomiLogo {
	padding: 10vh;
}
#about img {
	height: 30vh;
}

#about p {
	margin: 10vh;
	font-size: 2vh;
	line-height: 3vh;
	text-align: center;
}
.lomiMessage {
	background-color: rgba(0, 100, 50, 0.2);
}
