.nav-user {
	background-color: rgb(0, 80, 40);
	width: 100%;
	top: 0px;
	z-index: 100;
	position: fixed;
	display: flex;
	justify-content: space-between;
}
.nav-user img {
	padding: 1vh;
	height: 3vh;
	min-height: 1.5em;
}
.nav-user .userButtons {
	margin-right: 1em;
}
.nav-user .userButtons button {
	color: rgb(255, 255, 255);
	padding: 0.5em;
	height: 100%;
	border: none;
	background-color: transparent;
}
.nav-page {
	height: 5vh;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-page li a {
	display: block;
	text-decoration: none;
	padding: 1em;
	color: #006432;
}
