nav {
	background-color: #006432;
	width: 100%;
	position: sticky;
	top: 0px;
	z-index: 100;
}
nav img {
	padding: 0.5em;
	height: 2em;
}
.buttonToggle {
	border: 0;
	color: white;
	background-color: transparent;
	position: absolute;
	top: 0.5em;
	right: 0;
	font-size: 1.5em;
	padding-right: 0.5em;
}
nav ul {
	margin: 0 0.5em;
	padding: 0;
}
.toggle {
	display: block;
}
li {
	text-align: center;
}
li a {
	display: block;
	text-decoration: none;
	padding: 0.5em;
	color: white;
}
li a:hover {
	text-decoration: underline;
}
@media only screen and (min-width: 420px) {
	/* navigation */
	.buttonToggle {
		display: none;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.toggle {
		list-style: none;
		padding: 0;
		display: flex;
	}

	li {
		width: fit-content;
	}

	#home {
		margin: 3em auto;
	}

	#home h1 {
		font-size: 65px;
	}

	#home img {
		width: 200px;
	}
}
