#searchBar {
   position:relative;
   box-sizing:border-box;
   width: 500px;

   margin:0 auto;
}
#searchBar * {
   box-sizing:border-box;
   
}

#searchBar  input {
   margin:0;
   height:32px;
   width: 80%;
  
}
#searchBar button {
   height:32px;
   margin:0;
   padding:0;
   width: 20%;
  
}
.dropDown {
   background-color:rgb(255,255,255);
   position:absolute;
   top:32px;
   right:0;
   border:1px solid black;
   border-bottom:none;
}
.dropDown li {
   padding:0.5em;
   border-bottom:1px solid black;
  
}